@import "../../assets/styles/mixin";
@import "../../assets/styles/variables";

.container {
  max-width: 1175px;
  padding: 0 0 0 12px;
  @include _1200 {
    padding: 0 20px;
  }
}
.footer {
  width: 100%;
  background: $main-grey;
  &__inner {
    .upper-side {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0 18px 5px;
      @include _825 {
        flex-direction: column;
      }
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        @include _825 {
          flex-direction: column;
          padding: 0;
          margin-bottom: 0;
        }
        li {
          margin-left: 20px;
          @include _1024 {
            margin-left: 15px;
            display: flex;
            justify-content: center;
          }
          @include _825 {
            margin-left: 0;
            margin-bottom: 12px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          a {
            color: $white;
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
          }
        }
      }
    }
  }
  &__line {
    width: 100%;
    margin: 0;
  }
  &__copyright {
    padding: 31px 0 31px 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    color: $white;
    @include _1024 {
      text-align: center;
    }
    @include _825 {
      padding: 15px 0;
    }
    @include _525 {
      display: flex;
      flex-direction: column;
    }
  }
}