$main-grey: #333333;

$header-gradient: linear-gradient(180deg, #00A9E7 0%, #005B9F 100%);

$todo-gradient: linear-gradient(180deg, rgb(118, 216, 255) 0%, rgb(81, 132, 169) 100%);

$button-blue: #0076C0;

$white: white